{% extends 'base.html.twig' %}

{% block title %}Attraction index{% endblock %}

{% block body %}
<h1>About Us</h1>
<ul>
    <li>
        Name: LTSector
    </li>
    <li>
        Established at 2022
    </li>
    <li>
        Phone: (904) 273-2427
    </li>
    <li>
        Address: 348 S Mill Way Vw, Ponte Vedra Beach, Florida(FL), 32082
    </li>
</ul>
{% endblock body%}