{% extends 'base.html.twig' %}

{% block title %}Users list{% endblock %}

{% block body %}
    <h1>Users List</h1>

    <table class="table table-striped table-dark rounded-2 my-4" >
        <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Roles</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>
                    {% for role in user.roles %}
                        <span class="badge bg-primary">{{ role }}</span>
                    {%endfor%}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
