{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('booking') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('booking') }}
{% endblock %}

{% block title %}New Room{% endblock %}

{% block body %}
<div class="card bg-transparent mx-auto border-0" style="max-width: 400px;" >
    <h1>Create new Room</h1>

    {{ include('room/_form.html.twig') }}
    <div>
        <a class="btn btn-warning mt-2" href="{{ path('app_room_index') }}">Back to list</a>
    </div>
</div>
{% endblock %}
