{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ encore_entry_link_tags('booking') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('booking') }}
{% endblock %}

{% block title %}New Hotel{% endblock %}

{% block body %}
    <h1>Create new Hotel</h1>

    {{ include('hotel/_form.html.twig') }}

    <a href="{{ path('app_hotel_index') }}">back to list</a>
{% endblock %}
