$primary: #F5853F;
@import 'bootstrap';


body {
    background-color: lightgray;
}

th:first-of-type {
    border-top-left-radius: 5px;
}

th:last-of-type {
    border-top-right-radius: 5px;
}


tbody tr:last-of-type td:last-of-type {
    border-bottom-right-radius: 5px;
}
tbody tr:last-of-type td:first-of-type {
    border-bottom-left-radius: 5px;
}

tbody tr:last-of-type {
    border: none;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; // remove the gap so it doesn't close
}